<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <h2 class="text-center">Hostorique vente</h2>
        <hr>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" jhiTranslate="audits.filter.from">from</span>
            </div>
            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="loadAll()" required/>

            <div class="input-group-append">
                <span class="input-group-text" jhiTranslate="audits.filter.to">To</span>
            </div>
            <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="loadAll()" required/>
        </div>
    </div>
</div>
<div class="alert alert-warning text-center" role="alert" *ngIf="!ventes.length">
    Aucun vente pour ces date
</div>
<div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']">

    <div class="card m-2"   *ngFor="let vente of ventes ;trackBy: trackId">
        <div class="card-body"  >
            <span class=" float-lg-right">{{vente.datevente | date:'yyyy-MM-dd'}}</span>
            <div class="row">
                <div class="col-md-6">
                    <span class="product-label">nom product : </span>
                    <span class="product-data">{{vente.productName}}</span>
                </div>
                <div class="col-md-3">
                            <span class="product-label">
                                prix:</span>
                    <span class="product-data"> {{vente.productPrix}} &nbsp;Dt</span>
                </div>
                <div class="col-md-3">
                    <span class="product-label"> Quantity:</span>
                    <span class="product-data"> {{vente.quantite}}</span></div>
            </div>


        </div>
    </div>
</div>

